<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @event.descripcion %>
</p>

<p>
  <strong>Fecha de inicio:</strong>
  <%= @event.fecha_inicio %>
</p>

<p>
  <strong>Fecha de fin:</strong>
  <%= @event.fecha_fin %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @event.lugar %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Atrás', events_path %>
